.App-header {
  display: flex;
  align-items: center;
}

.App-header h1{
  margin-left: 1rem;
  font-weight: 700;
  font-size: 3rem;
  color: rgb(226, 70, 70);
}

hr {
  font-weight: 800;
  height: 0.3rem; 
  background-color: rgb(226, 70, 70);
  outline: none;
  border: none;
}

.App-body {
  font-size: 1.8rem;
  margin-left: 5rem;
  margin-top: 5rem;
}

.App-body input{
  display: inline-block;
  margin: 0 0.5rem 0 0.5rem;
}

.App-footer {
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}